.sidebar {
  padding: 12px 12px 12px 0;
  width: 100%;
}

.sidebar > div {
  height: 100%;
}

.sidebar_container {
  padding: 20px 20px;
  background-color: var(--color-white);
  border-radius: 5px;

  position: sticky;
  top: 82px;
}

.sidebar_item {
  position: relative;
}

.sidebar_link {
  color: initial;
  font-family: var(--font-family);
  font-size: 13px;
  font-style: normal;
  font-weight: 500;

  transition: color 0.2s ease-in;
}

.username{
  color: initial;
  font-family: var(--font-family);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

.fullName {
  color: initial;
  font-family: var(--font-family);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}