@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
  --color-accent: #FFBE0B;
  --color-accent-100: #FFBE0B;
  --color-accent-200: #FFD64E;
  --color-accent-300: #FFE878;
  --color-accent-400: #FFEF9C;
  --color-accent-500: #FFF6BF;

  --color-primary: #0074cc;
  --color-primary-100: #0074cc;
  --color-primary-200: #4fa9ff;
  --color-primary-300: #80c7ff;
  --color-primary-400: #a7d7ff;
  --color-primary-500: #c8e8ff;

  --color-secondary: #1B2F33;
  --color-secondary-100: #1B2F33;
  --color-secondary-200: #465F66;
  --color-secondary-300: #6D9098;
  --color-secondary-400: #93C2CB;
  --color-secondary-500: #BAD3DD;

  --color-success: #317B22;
  --color-success-100: #317B22;
  --color-success-200: #5AAE4C;
  --color-success-300: #7BC86B;
  --color-success-400: #9DE68B;
  --color-success-500: #C4F0AE;

  --color-error: #A22C29;
  --color-error-100: #A22C29;
  --color-error-200: #C95653;
  --color-error-300: #E47F7D;
  --color-error-400: #F69E9D;
  --color-error-500: #FFC1BF;

  --color-bg: #F3F3F3;

  --color-white: #FFFFFF;
  --color-white-100: #e7e7e7;

  --color-black: #16181A;
  --color-black-100: #808080;


  --font-family: Montserrat;

  --pad: 15px;
  --white-container: calc(1200px + var(--pad) * 2);
  --white-container-main: calc(1000px + var(--pad) * 2);

  --white-navigationBar: 310px;
  --white-sidebar: 310px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  color: var(--color-white);
  background: var(--color-primary);
}

.ant-layout-sider-children{
  position: sticky;
  top: 70px;
  //min-height: 100vh;
}

html {
  //font-size: 1000px;
}

body {
  font-family: var(--font-family), sans-serif;
  background-color: var(--color-bg);
  color: var(--color-black);
}

//ul, li {
//  list-style: none;
//}



a {
  transition: color 0.2s ease;
  text-decoration: none;
  &:hover {
    color: var(--color-primary) !important;
  }
}

.image {
  object-fit: cover;
}

.input {
  width: 100%;
}

.auth-loading{
  animation: rotateAnimation 4s linear infinite;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg); /* Начальное положение (0 градусов) */
  }
  to {
    transform: rotate(360deg); /* Конечное положение (360 градусов) */
  }
}


.item {
  border-radius: 5px;
  border: 1px solid var(--color-white-100);
  background: var(--color-white);

  box-shadow: 2px 1px 5px 0 rgba(0, 0, 0, 0.15);

  padding: 16px 24px;
}