@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
  --accent-1: #FF8C00;
  --accent-1-1: #FFE4B5;

  --accent-2: #2377F4;
  --accent-2-1: #DCE9FD;

  --accent-3: #4CAF50;
  --accent-3-1: #C8E6C9;

  --accent-4: #FF0F0F;
  --accent-4-1: #e7c7c7;

  --bg: #F3F3F3;

  --white-1: #FFFFFF;
  --white-2: #EAEAEA;

  --black-1: #16181A;
  --black-2: #808080;

  --error: #FF0F0F;
  --good: #17A100;

  --font-family: Montserrat;

  --pad: 15px;
  --white-container: calc(1200px + var(--pad) * 2);
  --white-container-main: calc(1000px + var(--pad) * 2);

  --white-navigationBar: 310px;
  --white-sidebar: 310px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  color: var(--white-1);
  background: var(--accent-2);
}

html {
  //font-size: 1000px;
}

body {
  font-family: var(--font-family), sans-serif;
  background-color: var(--bg);
  color: var(--black-1);
}

//ul, li {
//  list-style: none;
//}

a {
  text-decoration: none;

  &:hover {
    color: var(--accent-2);
  }
}

.image {
  object-fit: cover;
}

.input {
  width: 100%;
}

.auth-loading{
  animation: rotateAnimation 4s linear infinite;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg); /* Начальное положение (0 градусов) */
  }
  to {
    transform: rotate(360deg); /* Конечное положение (360 градусов) */
  }
}


.item {
  border-radius: 5px;
  border: 1px solid var(--white-2);
  background: var(--white-1);

  box-shadow: 2px 1px 5px 0 rgba(0, 0, 0, 0.15);

  padding: 16px 24px;
}