.item {
  border-radius: 5px;

  flex: 1;
  height: 120px;

  padding: 12px 12px;
}


.count {
  color: var(--color-white);
  font-family: var(--font-family);
  font-size: 28px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.8px;

  margin-bottom: 4px;

  width: 100%;
}

.title {
  color: var(--color-white);
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.8px;

  width: 100%;

  margin-bottom: 0 !important;
}

.icon {
  color: var(--color-white);
  font-size: 48px;
}

.description {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 8px;
  min-height: 66px;
  //height: 100%;
}
