
.item {
  border-radius: 5px;
  border: 1px solid var(--white-2);
  background: var(--white-1);

  box-shadow: 2px 1px 5px 0 rgba(0, 0, 0, 0.15);

  margin-bottom: 20px;
  padding: 16px 24px;
}

.img {
  height: auto;
  max-height: 420px;
  width: 100%;
  object-fit: cover;
  border-radius: 6px;

  background-color: var(--white-2);

  margin-bottom: 24px;
}