
.item {
  border-radius: 5px;
  border: 1px solid var(--white-2);
  background: var(--white-1);

  box-shadow: 2px 1px 5px 0 rgba(0, 0, 0, 0.15);

  margin-bottom: 20px;
  padding: 16px 24px;
}

.img {
  height: auto;
  max-height: 420px;
  width: 100%;
  object-fit: cover;

  cursor: pointer;

  box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
  background: var(--white-1);

  border-radius: 6px;

  margin-bottom: 24px;
}