
.btn {
  min-width: 32px;
  cursor: pointer;

  transition: color 0.2s ease;
  color: var(--color-black-100);

  .icon {
    transition: color 0.2s ease;
    color: var(--color-black-100);
  }

  &:hover {
    color: var(--color-primary);
    .icon{
      color: var(--color-primary);
    }
  }
}

.btn-active {
  color: var(--color-primary);
}

.link {
  color: var(--color-black-100);
}

.number {
  //min-width: 12px;
}