.content {
    width: 100%;
    /*max-width: 580px;*/
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    object-fit: cover;
    width: 60%;
    height: 852px;
}

.title {
    color: var(--color-black);
    margin-bottom: 20px;
}

.subtitle {
    color: var(--color-black-100);
    font-family: var(--font-family);
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.05rem;

    margin-bottom: 20px;
}

.form {
    margin-bottom: 12px;
}