.quill {
  .ql-snow {

    transition: all 0.2s;
    outline: 0;
  }

  &:hover .ql-snow,
  &:focus-within .ql-snow {
    border-color: #4096ff;
  }

  &.ant-form-item-has-error .ql-snow {
    border-color: #ff4d4f;
  }

  &.ant-form-item-has-error:not(:focus-within) .ql-snow {
    border-color: #ff4d4f;
  }

  &:focus-within .ql-snow {
    border-color: #1677ff;
    box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
  }
}

.ql-container {
  font-family: var(--font-family), sans-serif;
  font-size: 14px;
}

/* Если вы хотите применить стили для пустого редактора */
.ql-editor.ql-blank::before {
  color: #d9d9d9;
  content: attr(data-placeholder);
  font-style: normal;
  font-weight: 300;
}


.ql-editor {
  font-family: var(--font-family);

  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  min-height: 300px;
  max-height: 500px;

  letter-spacing: -0.26px;

  &::before {
    margin: 24px 0 !important;
    margin-block-start: 1em;
    margin-block-end: 1em;
  }

  p {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.26px;

    margin: 24px 0 !important;

    margin-block-start: 1em;
    margin-block-end: 1em;
  }

  h2 {
    font-weight: 800;
    font-size: 34px !important;
    line-height: 40px;
    letter-spacing: -0.74px;
    margin: 0 0 24px 0 !important;
  }

  h3 {
    font-weight: 800;
    font-size: 23px !important;
    line-height: 32px;
    letter-spacing: -0.44px;
    margin: 0 0 24px 0 !important;
  }

  ul, ol {
    margin: 24px 0;
    padding: 0 0 0 8px;
    list-style: none;
  }

  li {
    padding-left: 32px !important;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.26px;

    position: relative;
    margin: 8px 0;
  }

  ul {
    li {
      &:before {
        content: '';
        position: absolute;
        font-size: 0;
        left: 0;
        top: 11px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: var(--color-primary);
      }
    }
  }

  ol {
    counter-reset: list;

    li {
      counter-increment: list;

      &:before {
        content: counter(list) ".";
        position: absolute;
        left: 0;
        top: 0;
        color: var(--color-primary);

        margin-left: 0 !important;
        margin-right: 0 !important;
        text-align: left;
      }
    }
  }


  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  .ql-video {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 4px;
  }

  blockquote {
    color: var(--color-primary);
    border-left: 6px solid var(--color-primary) !important;
    background: var(--color-primary-500);

    border-radius: 4px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.26px;

    padding: 24px !important;
    margin: 24px 0 !important;
  }

}

.ql-toolbar.ql-snow {
  border: 1px solid var(--color-white-100);
  border-radius: 6px 6px 0 0;
}

.ql-container.ql-snow {
  border: 1px solid var(--color-white-100);
  border-radius: 0 0 6px 6px;
}


.custom-textarea-box {
  padding: 0;
}

.ant-form-item-has-error.custom-textarea-box .ql-snow {
  border-color: #ffa39e;
}

.ant-form-item-has-error.custom-textarea-box:focus-within .ql-snow {
  box-shadow: 0 0 0 2px rgba(255, 38, 5, 0.06);
}


.ql-toolbar.ql-snow .ql-formats {
  position: relative;
  margin-right: 16px;
}

.ql-toolbar.ql-snow .ql-formats:before {
  content: '';
  position: absolute;
  right: -8px;

  width: 1px;
  height: 100%;

  background-color: var(--color-white-100);
}

.ql-toolbar.ql-snow .ql-formats:last-child:before {
  content: none;
}
