.content {
  font-family: var(--font-family);
  //padding-left: 0;
  //padding-right: 0;
}

.username {
  color: var(--color-black);
  font-family: var(--font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.65px;
}