.item {
  border-radius: 5px;
  border: 1px solid var(--color-white-100);
  background: var(--color-white);

  box-shadow: 2px 1px 5px 0 rgba(0, 0, 0, 0.15);

  margin-bottom: 20px;
}

.username {
  color: var(--color-black);
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.65px;
}

.title {
  color: var(--color-black);
  font-family: var(--font-family);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8px;
  word-break: break-all;

  display: block;
  margin-bottom: 4px;

  width: 100%;
}

.text {
  color: var(--color-black);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px; /* 178.571% */
  letter-spacing: 0.7px;
  word-break: break-all;

  margin-bottom: 16px;
}

//.tag {
//  //color: var(--color-black-100);
//  font-family: var(--font-family);
//  font-size: 16px;
//  font-style: normal;
//  font-weight: 400;
//  line-height: normal;
//  letter-spacing: 0.5px;
//  padding: 4px 8px;
//}

.img {
  height: auto;
  max-height: 420px;
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
  aspect-ratio: 31 / 14;
}

.icon {
  font-size: 24px;
  cursor: pointer;
  &:hover{
    color: var(--color-primary);
  }
}

.dropdown_item {
  //background: var(-);
}