.footer {
  background-color: var(--black-1);
}

.footer_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  width: 100%;
  max-width: var(--white-container);
  margin-inline: auto;

  padding: 20px 40px;
  background-color: transparent;
}


.logo_content {
  writing-mode: vertical-rl;
}

.logo {
  transition: filter 0.3s ease;
  filter: contrast(0);
  width: 48px;
  height: 48px;
}

.logo:hover {
  filter: contrast(1);
}

.logo_content span {
  display: flex;
  align-items: center;

  color: var(--black-2);
  font-family: var(--font-family), sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.25rem;
  transform: rotate(180deg);
  transition: color 0.2s ease;

  &:hover {
    color: var(--white-2);

    & > span {
      color: var(--accent-2);
    }
  }

  & > span {
    transform: rotate(0deg);
    display: inline-flex;
    font-weight: 700;
    color: var(--black-2);
  }
}


.footer__title {
  color: var(--white-2);
  font-family: var(--font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.footer__items {
  ul {
    list-style: none;
  }
}

.footer__item {
  color: var(--black-2);
  font-family: var(--font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.05rem;

  &:hover{
    color: var(--white-2);
  }
}

.info__content{
  width: 100%;
  min-width: 100px;
  max-width: 240px;
}

.info {
  color: var(--black-2);
  font-family: var(--font-family);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.5px;
}

.social_networks{
  height: 100%;
}

.social_network path{
  transition: stroke 0.2s ease;
  stroke: var(--black-2);
}
.social_network:hover path{
  stroke: var(--white-1);
}