.footer {
  padding: 0;
  background-color: var(--color-black);
}

.footer_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  width: 100%;
  max-width: var(--white-container-main);
  margin-inline: auto;

  padding: 36px 15px;
  background-color: transparent;
}


.logo_content {
  writing-mode: vertical-rl;
}

.logo {
  transition: filter 0.3s ease;
  filter: contrast(0);
  width: 48px;
  height: 48px;
}

.logo:hover {
  filter: contrast(1);
}

.logo_content span {
  display: flex;
  align-items: center;

  color: var(--color-black-100);
  font-family: var(--font-family), sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.25rem;
  transform: rotate(180deg);
  transition: color 0.2s ease;

  &:hover {
    color: var(--color-white-100);

    & > span {
      color: var(--color-primary);
    }
  }

  & > span {
    transform: rotate(0deg);
    display: inline-flex;
    font-weight: 700;
    color: var(--color-black-100);
  }
}


.footer__title {
  color: var(--color-white-100);
  font-family: var(--font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.list{
  max-width: 536px;

  div {
    max-width: 268px;
  }
}

.footer__items {
  ul {
    list-style: none;
    li {
    }
  }
}

.footer__item {
  color: var(--color-black-100);
  font-family: var(--font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.05rem;

  display: block;
  width: 100%;

  white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden; /* Обрезаем все, что не помещается в область */
  text-overflow: ellipsis; /* Добавляем многоточие */

  &:hover {
    color: var(--color-white-100);
  }
}

.info__content {
  width: 100%;
  min-width: 100px;
  max-width: 240px;
}

.info {
  color: var(--color-black-100);
  font-family: var(--font-family);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.5px;
}

.social_networks {
  height: 100%;
}

.social_network path {
  transition: stroke 0.2s ease;
  stroke: var(--color-black-100);
}

.social_network:hover path {
  stroke: var(--color-white);
}


@media (max-width: 1440px) {
  .profile {
    flex-direction: column;
  }
}

@media (max-width: 1024px) {
  .footer_container {
    flex-direction: column;
  }
  .logo_content {
    display: none;
  }
}

@media (max-width: 768px) {
  .footer_container {
    align-items: stretch;
  }
  .list {
    flex-direction: column;
  }
  .info__content {
    max-width: none;
  }
}