.footer {
  background-color: var(--black-1);
}

.footer_container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  width: 100%;
  max-width: var(--white-container);
  margin-inline: auto;

  padding: 20px 40px;
  background-color: transparent;
}
