.searchBox {
  display: flex;
  position: relative;

  width: 100%;
  max-width: 600px;

  &:focus-within {
    .list{
      display: block;
    }
  }
}

.search {

}

.list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;

  overflow: hidden;
  display: none;
}

.item {
  padding: 10px 0;

  &:hover {
    background: var(--bg);
  }
}

.title {
  color: var(--black-1);
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.02rem;
}

.text {
  color: var(--black-1);
  font-family: var(--font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.02rem;
}