.sidebar {
  background-color: var(--white-1);
  position: relative;

  &>div{
    height: 100%;
    //position: sticky;
    //top: 0; // headerHeight
  }
}

.sidebar_container {
  /*width: 100%;*/
  /*max-width: var(--white-container);*/
  /*margin-inline: auto;*/

  padding: 40px 0;
  background-color: var(--white-1);
}


.sidebar_search {
  padding: 0 50px;
}

.sidebar_title {
  color: var(--black-2);
  font-family: var(--font-family);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.02rem;
  text-transform: uppercase;

  padding: 0 50px;
}

.sidebar_link {
  padding: 12px 50px;

  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 12px;

  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--white-2);
  }

  & span {
    color: var(--black-1);
    font-family: var(--font-family);
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.02rem;
  }

  &.active {
    position: relative;
    background-color: var(--accent-2-1);
    &:before {
      content: '';
      position: absolute;
      left: 0;
      height: 100%;
      width: 5px;
      background-color: var(--accent-2);
    }
  }
}
