.item {
  border-radius: 5px;
  border: 1px solid var(--color-white-100);
  background: var(--color-white);

  box-shadow: 2px 1px 5px 0 rgba(0, 0, 0, 0.15);

  padding: 24px 24px;
}

.content {
  //margin-bottom: 16px;
  padding: 0 !important;
  max-height: none !important;
}

.img_box {
  position: relative;


  .dropdown {
    position: absolute;
    top: 12px;
    right: 12px;
  }
}


.icon {
  background-color: var(--color-white);
  border-radius: 999px;
  padding: 4px;
  font-size: 24px;
  cursor: pointer;

  transition: color 0.2s ease-in, opacity 0.2s ease-in;
  opacity: 0.4;

  &:hover{
    color: var(--color-primary);
    opacity: 1;
  }
}

.img {
  width: 100%;

  height: auto;
  max-height: 420px;
  
  border-radius: 6px;
  background: var(--color-white);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);

  object-fit: cover;
  aspect-ratio: 31 / 14;

  border: 1px solid var(--color-white-100);
}

.title {
  color: var(--color-black);
  font-family: var(--font-family);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8px;

  display: inline-block;
  margin-bottom: 4px;

  width: fit-content;
}


.tag {
  //color: var(--color-black-100);
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.5px;
  padding: 4px 8px;
}

.comments {
  border-radius: 5px;
  border: 1px solid var(--color-white-100);
  background: var(--color-white);

  box-shadow: 2px 1px 5px 0 rgba(0, 0, 0, 0.15);

  padding: 16px 24px;
}