.header {
  background-color: var(--white-1);
  border-bottom: 1px solid var(--white-2);
  margin-bottom: -1px;
  z-index: 100;

  top: 0;
  position: sticky;
}

.header_container {
  padding: 15px 0;
  display: flex;
  gap: 20px;
}

.title {
  line-height: 100%;
}

.teamIcon {
  font-size: 26px;
  margin-right: 12px;
  background-color: red;
}

.logo_content {
  display: flex;
  gap: 16px;
  width: 260px;
}

.logo{
  width: 40px;
  height: 40px;
}

.logo_content > span {
  display: flex;
  align-items: center;

  color: var(--black-2);
  font-family: var(--font-family), sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
}

.logo_content > span > span {
  font-weight: 700;
}

.header_items {
  display: flex;
  gap: 16px;
}

.header_search {
  width: 100%;
  max-width: 800px;

  &:not(:focus-within) {
    opacity: 0.6;
  }
}

.btns {
  width: 260px;
}