.sidebar {
  background-color: var(--color-white);
  position: relative;
  width: 100%;

  &>div{
    height: 100%;
    //position: sticky;
    //top: 0; // headerHeight
  }
}

.sidebar_container {
  /*width: 100%;*/
  /*max-width: var(--white-container);*/
  /*margin-inline: auto;*/

  padding: 40px 0;
  background-color: var(--color-white);
}


.sidebar_search {
  padding: 0 50px;
}

.sidebar_title {
  color: var(--color-black-100);
  font-family: var(--font-family);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  //letter-spacing: 0.02rem;
  text-transform: uppercase;

  padding: 0 50px;
}

.sidebar_link {
  padding: 12px 50px;

  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 12px;

  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--color-white-100);
  }

  & span {
    color: var(--color-black);
    font-family: var(--font-family);
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    //letter-spacing: 0.02rem;
  }

  &.active {
    position: relative;
    background-color: var(--color-primary-500);

    &:before {
      content: '';
      position: absolute;
      left: 0;
      height: 100%;
      width: 5px;
      background-color: var(--color-primary);
    }

    & span {
      font-weight: 600;
    }
  }
}
