.sidebar {
  background-color: var(--color-white);
  position: relative;
  width: 100%;
  min-height: 100%;
}

.sidebar_container {
  /*width: 100%;*/
  /*max-width: var(--white-container);*/
  /*margin-inline: auto;*/

  height: 100%;
  padding: 40px 0;
  background-color: var(--color-white);
}


.sidebar_search {
  padding: 0 50px;
}

.sidebar_title {
  color: var(--color-black-100);
  font-family: var(--font-family);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  //letter-spacing: 0.02rem;
  text-transform: uppercase;

  padding: 0 50px;
}

.sidebar_link {

  & span {
    font-size: 13px;
    font-weight: 500;
  }

  &.active {
    position: relative;
    background-color: var(--color-primary-500);

    &:before {
      content: '';
      position: absolute;
      left: 0;
      height: 100%;
      width: 5px;
      background-color: var(--color-primary);
    }

    & span {
      font-weight: 600;
    }
  }
}

.toggleButton {
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.02);
  cursor: pointer;
  margin-top: auto;
}

.collapsed {
  //background-color: red;
}